/* Music.css */


.music h1, .music h2 {
  text-align: center;
}

.music section {
  text-align: center;
}

.music .release-photo {
  height: auto;
}

.music-container {
  padding: 20px;
  /* height: calc(100vh - var(--header-height) - var(--footer-height)); */

}

.media-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.spotify-embed {
  flex: 1;
  min-height: 450px;
}

/* Responsive iframe */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  flex: 1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Desktop layout - side by side */
@media (min-width: 768px) {
  .media-grid {
    flex-direction: row;
    align-items: stretch;
  }

  .video-wrapper {
    padding-bottom: 0;
    height: auto;
    min-height: 450px;
  }

  .video-wrapper iframe {
    position: relative;
    height: 100%;
  }
}
