.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .social-links {
    margin: 1rem 0;
    padding: 0;
  }
  
  .social-links li {
    list-style: none;
  }
  
  .social-links a {
    color: var(--link-color);
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .theme-selector-container {
    display: flex;
    justify-content: center;
    z-index: 1010; /* Ensure it is above other content */
  }
  