/* Header.css */

@font-face {
  font-family: 'Helvetica73Extended';
  src: url('../fonts/helvetica-73-extended-bold-1361522149.ttf') format('truetype');
}

.header {
  position: fixed;
  top: 0;
  width: 100%; /* Ensure the header spans the full width of the viewport */
  z-index: 1000;
  background-color: var(--background-color);
  padding-inline: 40px;
  padding-top: 36px;
  font-family: 'Helvetica73Extended', Arial, sans-serif;
}

.header-container {
  width: 100%; /* Ensure the header container spans the full width */
  margin: 0 auto; /* Center align the header container */
  padding: 0 1rem; /* Add padding to match the main container */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

#logo-image {
  width: 140px;
  height: auto;
  filter: var(--logo-filter);
}

.nav-link {
  color: var(--link-color);
  font-size: 1.2rem;
  font-family: 'Helvetica73Extended', Arial, sans-serif;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Adjust font size for smaller devices */
@media (max-width: 576px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  /* Adjustments for medium-sized devices */
}
