/* Main.css */

#band-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 15px
}

.main-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  width: 100%;
}