/* Music.css */

.music {
  width: 100%;
  padding-inline: 15px;
}

.music h1, .music h2 {
  text-align: center;
}

.music section {
  /* margin: 2rem 0; */
  text-align: center;
}

.music .release-photo {
  /* max-width: 300px; */
  /* width: 100%; */
  height: auto;
  /* margin-top: 1rem; */
}
