.redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  padding: 2rem;
}

.redirect-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'HelveticaBold', Arial, sans-serif;

  
}

.redirect-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.redirect-button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: var(--button-color);
    color: var(--button-text-color);

  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
    font-family: 'Favorit', Arial, sans-serif;

}
.redirect-button:hover {
  background-color: #2b2a2a;
  transform: scale(1.05);
  color: white;
}