:root {
  --background-color: #afb8b6;
  --link-color: black;
  --max-width: 800px;
  --header-height: 60px;
  --main-padding-top: 20px; /* Default padding for main content */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--link-color);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-top: var(--header-height);
  /* padding: 0 1rem; */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}


.main-content {
  /* padding-top: var(--main-padding-top); */
  flex: 1; /* Ensures the main content takes up the remaining space */
}
