:root {
  --background-color: #afb8b6;
  --link-color: black;
  --max-width: 1000px;
  --header-height: 60px;
  --footer-height: 40px;
  --main-padding-top: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--link-color);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  height: calc(100vh - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
  overflow-y: auto; /* Ensure the container can scroll if needed */
  
}

.main-content {
  flex: 1;
  padding-inline: 30px;
  /* max-height: 100px; */
}

.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.social-links {
  margin: 1rem 0;
  padding: 0;
}

.social-links li {
  list-style: none;
}

.social-links a {
  color: var(--link-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.theme-selector-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1010;
}
